

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="">
    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" class="form-control" [ngClass]="profileForm.get('email').hasError('email') ? 'is-invalid' : ''" />
      <div *ngIf="profileForm.get('email').hasError('required') && profileForm.get('email').touched" class="alert text-danger">
        Email required
      </div>
      <div *ngIf="profileForm.get('email').hasError('email') && profileForm.get('email').touched" class="alert text-danger">
        Email is not valid
      </div>
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input formControlName="firstName" class="form-control" />
      <div *ngIf="profileForm.get('firstName').hasError('required') && profileForm.get('firstName').touched" class="alert text-danger">
        First Name required
      </div>
      <div *ngIf="profileForm.get('firstName').hasError('firstName') && profileForm.get('firstName').touched" class="alert text-danger">
        First Name is not valid
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input formControlName="lastName" class="form-control" />
      <div *ngIf="profileForm.get('lastName').hasError('required') && profileForm.get('lastName').touched" class="alert text-danger">
        Last Name required
      </div>
      <div *ngIf="profileForm.get('lastName').hasError('lastName') && profileForm.get('lastName').touched" class="alert text-danger">
        Last Name is not valid
      </div>
    </div>
    <div class="form-group">
      <label for="alias">Alias</label>
      <input formControlName="alias" class="form-control" />
      <div *ngIf="profileForm.get('alias').hasError('required') && profileForm.get('alias').touched" class="alert text-danger">
        Alias required
      </div>
      <div *ngIf="profileForm.get('alias').hasError('alias') && profileForm.get('alias').touched" class="alert text-danger">
        Alias is not valid
      </div>
    </div>
    <div class="form-group">
      <label for="jobTitle">Job Title</label>
      <input formControlName="jobTitle" class="form-control" />
      <div *ngIf="profileForm.get('jobTitle').hasError('required') && profileForm.get('jobTitle').touched" class="alert text-danger">
        Job Title required
      </div>
      <div *ngIf="profileForm.get('jobTitle').hasError('jobTitle') && profileForm.get('jobTitle').touched" class="alert text-danger">
        Job Title is not valid
      </div>
    </div>
    <div class="form-group">
      <label for="mobileNumber">Mobile Number</label>
      <input formControlName="mobileNumber" class="form-control" />
      <div *ngIf="profileForm.get('mobileNumber').hasError('required') && profileForm.get('mobileNumber').touched" class="alert text-danger">
        Mobile Number required
      </div>
      <div *ngIf="profileForm.get('mobileNumber').hasError('mobileNumber') && profileForm.get('mobileNumber').touched" class="alert text-danger">
        Mobile Number is not valid
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control"  />
      <div *ngIf="profileForm.get('password').hasError('required') && profileForm.get('password').touched" class="alert text-danger">
        Password required
      </div>
      <div *ngIf="profileForm.get('password').hasError('email') && profileForm.get('password').touched" class="alert text-danger">
        Password is not valid
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input formControlName="confirmPassword" type="password" class="form-control"  />
      <div *ngIf="profileForm.get('confirmPassword').hasError('required') && profileForm.get('confirmPassword').touched" class="alert text-danger">
        Password required
      </div>
      <div *ngIf="profileForm.get('confirmPassword').hasError('confirmPassword') && profileForm.get('confirmPassword').touched" class="alert text-danger">
        Password is not valid
      </div>
    </div>

    <div class="form-group">
     <button type="submit" class="btn btn-success">Submit</button>
    </div>

  </div>
</form>
<div *ngIf="!isLogged" class="text-right">
  <button (click)="onLogOut()" class="btn btn-info">Logout</button>
</div>

