<ul class="nav flex-column nav-pills">
  <!-- <li  *ngIf="backToHome" class="nav-item" >
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home</a>
  </li> -->
  <li *ngIf="isLogged" class="nav-item">
      <a class="nav-link" routerLink="/my-profile" routerLinkActive="active">My Profile</a>
  </li>
  <li *ngIf="isLogged" class="nav-item">
    <a class="nav-link" routerLink="/my-groups" routerLinkActive="active">My Groups</a>
</li>
</ul>
